<!DOCTYPE html>
<html>
<head> 
	<title>English Document Search</title>
	<link type="text/css" rel="stylesheet" href="../static/css/index.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="../static/js/site.js"></script>
  <script src="../static/js/sorttable.js"></script>
  <script language="JavaScript">
  $(document).ready(function(){
        $('#data').after('<div id="nav"></div>');
        var rowsShown = 200;
        var rowsTotal = $('#data tbody tr').length;
        var numPages = rowsTotal/rowsShown;
        for(i = 0;i < numPages;i++) {
            var pageNum = i + 1;
            $('#nav').append('<a href="#" rel="'+i+'">'+pageNum+'</a> ');
        }
        $('#data tbody tr').hide();
        $('#data tbody tr').slice(0, rowsShown).show();
        $('#nav a:first').addClass('active');
        $('#nav a').bind('click', function(){

            $('#nav a').removeClass('active');
            $(this).addClass('active');
            var currPage = $(this).attr('rel');
            var startItem = currPage * rowsShown;
            var endItem = startItem + rowsShown;
            $('#data tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).
                    css('display','table-row').animate({opacity:1}, 300);
        });
    });
</script>
</head>
<body>
<div class='navbar'>
<ul >
  <li> <a class="current" href="/">Show All</a></li>
  <li>{% if user.is_authenticated %}
  <a href="/logout/">Logout</a><br />
  {% else %}
  <a href="/register/">Register</a> / <a href="/login/">Login</a>
  {% endif %}
  </li>
  <li><a href="/findentry/">Search an Entry</a></li>

  <li><a href="/revision/">Review Corrections</a></li>

</ul>
</div>
  <h1>Early Modern English Missing Letters Archive</h1>
  
  <div>
    <table id="data" class='sortable'>
      <thead>
        <tr><th class="sorttable_numeric">File Position</th><th class='sorttable_nosort'>KWICL</th><th class="sorttable_alpha">Keyword</th><th class='sorttable_nosort'>KWICR</th><th>Choice 1</th><th>Choice 2</th><th>Choice 3</th></tr>
      </thead>
      <tfoot></tfoot>
      <tbody>


      {% for word in word_list %}
      
      <tr><td>{{word.file_position}}</td><td>{{word.kwicl}}</td><td>{{word.keyword}}</td><td>{{word.kwicr}}</td><td>{{word.choice1}}</td><td>{{word.choice2}}</td><td>{{word.choice3}}</td><td>{{word.correct_choice}}</td></tr>
      {% endfor %}

      </tbody>
    </table>
  </div>
  <div class='key'><div><span id='keyhead'>Key for Correct Choice</span></div>
    
      <li>1: Computer choice 1 is correct</li><li>2: Computer choice 2 is correct</li><li>3: Computer choice 3 is correct</li><li>4: No computer choice is correct</li><li>5: No comp choice is given</li>
      <li>6: Wrong number of black dots (and/or no computer choice given)</li>
      <li>7: Foreign</li>
      

    </ul></div>

</body>
</html>