<!DOCTYPE html>
<html>
<head> 
	<title>English Document Search</title>
	<link type="text/css" rel="stylesheet" href="../static/css/index.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="../static/js/site.js"></script>
  <script language="JavaScript">
  $(document).ready(function(){
        $('#data').after('<div id="nav"></div>');
        var rowsShown = 20;
        var rowsTotal = $('#data tbody tr').length;
        var numPages = rowsTotal/rowsShown;
        for(i = 0;i < numPages;i++) {
            var pageNum = i + 1;
            $('#nav').append('<a href="#" rel="'+i+'">'+pageNum+'</a> ');
        }
        $('#data tbody tr').hide();
        $('#data tbody tr').slice(0, rowsShown).show();
        $('#nav a:first').addClass('active');
        $('#nav a').bind('click', function(){
            $('#nav a').removeClass('active');
            $(this).addClass('active');
            var currPage = $(this).attr('rel');
            var startItem = currPage * rowsShown;
            var endItem = startItem + rowsShown;
            $('#data tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).
                    css('display','table-row').animate({opacity:1}, 300);
        });
    });
</script>
</head>
<body>
  <div class='navbar'>
<ul>
  <li> <a href="/">Show All</a></li>
  <li>{% if user.is_authenticated %}
  <a href="/logout/">Logout</a><br />
  {% else %}
  <a href="/register/">Register</a> / <a href="/login/">Login</a>
  {% endif %}
  </li>
  <li><a href="/findentry/">Search an Entry</a></li>
  <li><a href="/requesttoedit/">Edit an Entry</a></li>
  <li><a class="current" href="/revision/">Review Corrections</a></li>

</ul>
</div>
	<h1 id='top'>Review Corrections</h1>

  <div>
      <form action="." method="POST" >{% csrf_token %}
        <div>
          <table id="data" class='sortable'>
            <thead>
        <tr><th>Author</th><th>Time</th><th class='sorttable_nosort'>KWICL</th><th class="sorttable_alpha">Keyword</th><th class='sorttable_nosort'>KWICR</th><th>Choice 1</th><th>Choice 2</th><th>Choice 3</th><th>Selection</th><th  class='sorttable_nosort'>Manual Correction</th><th>New Selection</th><th class='sorttable_nosort'>New Manual Correction</th><th class='sorttable_nosort'>Your Revision</th></tr>
      </thead>
      <tfoot></tfoot>
      <tbody>


{% for corr in correction_list %}
      <tr><td>{{corr.correction_author}}</td><td>{{corr.time | date:"m/d/Y"}}</td><td>{{corr.corrected_word.kwicl}}</td><td>{{corr.corrected_word.keyword}}</td><td>{{corr.corrected_word.kwicr}}</td><td>{{corr.corrected_word.choice1}}</td><td>{{corr.corrected_word.choice2}}</td><td>{{corr.corrected_word.choice3}}</td><td>{{corr.corrected_word.correct_choice}}</td><td>{{corr.corrected_word.manually_entered_word}}</td><td>{{corr.correction_made}}</td><td>{{corr.correction_word}}</td><td><a href="../findentry/detail/{{corr.corrected_word.file_position}}">Submit correction</a></td></tr>
{% endfor %}

      </tbody>
    </table>

        </div>
        <input type="submit" class="btn btn-inverse" value="approval">
      </form>
  </div>

</body>
</html>