h1{
    
    display: block;
    
    font-weight: bold;
    
    text-align: center;
    
    text-decoration: none;
}

table{
	width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    display: block;
    width: 250px;
    font-weight: bold;

    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    
}
.navbar li a.current{
   color:#f1d74c;
}

.navbar a {
    color:#FFFFFF;
    font-family:Helvetica;
}