h1{
    
    display: block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-family: Cambaria;
}

#data{
	width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    display: block;
    width: 18%;
    font-weight: bold;

    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    
}
.navbar li a.current{
   color:#f1d74c;
}

.navbar a {
    color:#FFFFFF;
    font-family:Helvetica;
}
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
table.sortable thead th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}
table.sortable tbody {
    counter-reset: sortabletablescope;
}
table.sortable thead tr::before {
    content: "";
    display: table-cell;
}
table.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;